servicemix/catalog/xsd/servicemix-http-3.1.2.xsd

<?xml version='1.0'?>
<!-- NOTE: this file is autogenerated by Apache XBean -->

<xs:schema elementFormDefault='qualified'
           targetNamespace='http://servicemix.apache.org/http/1.0'
           xmlns:xs='http://www.w3.org/2001/XMLSchema'
           xmlns:tns='http://servicemix.apache.org/http/1.0'>

  <!-- element for type: org.apache.servicemix.http.BasicAuthCredentials -->
  <xs:element name='basicAuthCredentials'>
    <xs:annotation>
      <xs:documentation><![CDATA[
        This class contains parameters needed to send basic authentication credentials
      ]]></xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name='password' type='xs:string'/>
      <xs:attribute name='username' type='xs:string'/>
      <xs:attribute name='id' type='xs:ID'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


  <!-- element for type: org.apache.servicemix.http.HttpComponent -->
  <xs:element name='component'>
    <xs:annotation>
      <xs:documentation><![CDATA[
        An http component
      ]]></xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='authenticationService' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='client' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='configuration' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:choice minOccurs='0' maxOccurs='1'>
              <xs:element ref='tns:configuration'/>
              <xs:any namespace='##other'/>
            </xs:choice>
          </xs:complexType>
        </xs:element>
        <xs:element name='endpoints' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:choice minOccurs='0' maxOccurs='unbounded'>
              <xs:element ref='tns:endpoint'/>
              <xs:any namespace='##other'/>
            </xs:choice>
          </xs:complexType>
        </xs:element>
        <xs:element name='keystoreManager' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='server' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:any namespace='##other' minOccurs='0' maxOccurs='unbounded'/>
      </xs:sequence>
      <xs:attribute name='authenticationService' type='xs:string'/>
      <xs:attribute name='client' type='xs:string'/>
      <xs:attribute name='configuration' type='xs:string'/>
      <xs:attribute name='host' type='xs:string'/>
      <xs:attribute name='keystoreManager' type='xs:string'/>
      <xs:attribute name='path' type='xs:string'/>
      <xs:attribute name='port' type='xs:integer'/>
      <xs:attribute name='protocol' type='xs:string'/>
      <xs:attribute name='server' type='xs:string'/>
      <xs:attribute name='id' type='xs:ID'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


  <!-- element for type: org.apache.servicemix.http.HttpConfiguration -->
  <xs:element name='configuration'>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='authenticationService' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='keystoreManager' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:any namespace='##other' minOccurs='0' maxOccurs='unbounded'/>
      </xs:sequence>
      <xs:attribute name='authenticationService' type='xs:string'/>
      <xs:attribute name='authenticationServiceName' type='xs:string'/>
      <xs:attribute name='connectorMaxIdleTime' type='xs:integer'/>
      <xs:attribute name='consumerProcessorSuspendTime' type='xs:integer'/>
      <xs:attribute name='jettyConnectorClassName' type='xs:string'/>
      <xs:attribute name='jettyManagement' type='xs:boolean'/>
      <xs:attribute name='jettyThreadPoolSize' type='xs:integer'/>
      <xs:attribute name='keystoreManager' type='xs:string'/>
      <xs:attribute name='keystoreManagerName' type='xs:string'/>
      <xs:attribute name='managed' type='xs:boolean'/>
      <xs:attribute name='mapping' type='xs:string'/>
      <xs:attribute name='maxConnectionsPerHost' type='xs:integer'/>
      <xs:attribute name='maxTotalConnections' type='xs:integer'/>
      <xs:attribute name='proxyHost' type='xs:string'/>
      <xs:attribute name='proxyPort' type='xs:integer'/>
      <xs:attribute name='retryCount' type='xs:integer'/>
      <xs:attribute name='streamingEnabled' type='xs:boolean'/>
      <xs:attribute name='wantHeadersFromHttpIntoExchange' type='xs:boolean'/>
      <xs:attribute name='id' type='xs:ID'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


  <!-- element for type: org.apache.servicemix.http.HttpEndpoint -->
  <xs:element name='endpoint'>
    <xs:annotation>
      <xs:documentation><![CDATA[
        An http endpoint
      ]]></xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='basicAuthentication' minOccurs='0' maxOccurs='1'>
          <xs:annotation>
            <xs:documentation><![CDATA[
              Authentication parameters used for provider endpoints using BASIC
authentication.
            ]]></xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:choice minOccurs='0' maxOccurs='1'>
              <xs:element ref='tns:basicAuthCredentials'/>
              <xs:any namespace='##other'/>
            </xs:choice>
          </xs:complexType>
        </xs:element>
        <xs:element name='binding' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='definition' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='description' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='policies' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='unbounded'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='proxy' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:choice minOccurs='0' maxOccurs='1'>
              <xs:element ref='tns:proxyParameters'/>
              <xs:any namespace='##other'/>
            </xs:choice>
          </xs:complexType>
        </xs:element>
        <xs:element name='serviceUnit' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='ssl' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:choice minOccurs='0' maxOccurs='1'>
              <xs:element ref='tns:sslParameters'/>
              <xs:any namespace='##other'/>
            </xs:choice>
          </xs:complexType>
        </xs:element>
        <xs:element name='wsdlResource' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:any namespace='##other' minOccurs='0' maxOccurs='unbounded'/>
      </xs:sequence>
      <xs:attribute name='authMethod' type='xs:string'/>
      <xs:attribute name='basicAuthentication' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Authentication parameters used for provider endpoints using BASIC
authentication.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='binding' type='xs:string'/>
      <xs:attribute name='defaultMep' type='xs:string'/>
      <xs:attribute name='defaultOperation' type='xs:QName'/>
      <xs:attribute name='definition' type='xs:string'/>
      <xs:attribute name='description' type='xs:string'/>
      <xs:attribute name='endpoint' type='xs:string'/>
      <xs:attribute name='interfaceName' type='xs:QName'/>
      <xs:attribute name='locationURI' type='xs:string'/>
      <xs:attribute name='proxy' type='xs:string'/>
      <xs:attribute name='role' type='xs:string'/>
      <xs:attribute name='roleAsString' type='xs:string'/>
      <xs:attribute name='service' type='xs:QName'/>
      <xs:attribute name='serviceUnit' type='xs:string'/>
      <xs:attribute name='soap' type='xs:boolean'/>
      <xs:attribute name='soapAction' type='xs:string'/>
      <xs:attribute name='soapVersion' type='xs:string'/>
      <xs:attribute name='ssl' type='xs:string'/>
      <xs:attribute name='targetEndpoint' type='xs:string'/>
      <xs:attribute name='targetInterfaceName' type='xs:QName'/>
      <xs:attribute name='targetService' type='xs:QName'/>
      <xs:attribute name='wsdlResource' type='xs:string'/>
      <xs:attribute name='id' type='xs:ID'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


  <!-- element for type: org.apache.servicemix.http.ProxyParameters -->
  <xs:element name='proxyParameters'>
    <xs:annotation>
      <xs:documentation><![CDATA[
        This class contains all parameters needed to send http requests through a proxy
      ]]></xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='proxyCredentials' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:choice minOccurs='0' maxOccurs='1'>
              <xs:element ref='tns:basicAuthCredentials'/>
              <xs:any namespace='##other'/>
            </xs:choice>
          </xs:complexType>
        </xs:element>
        <xs:any namespace='##other' minOccurs='0' maxOccurs='unbounded'/>
      </xs:sequence>
      <xs:attribute name='proxyCredentials' type='xs:string'/>
      <xs:attribute name='proxyHost' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Proxy Host through which every http call are emitted
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='proxyPort' type='xs:integer'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Proxy Port for the proxy host specified
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='id' type='xs:ID'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


  <!-- element for type: org.apache.servicemix.http.SslParameters -->
  <xs:element name='sslParameters'>
    <xs:annotation>
      <xs:documentation><![CDATA[
        This class contains all parameters needed to create an SSL server or client
socket.
      ]]></xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name='keyAlias' type='xs:string'/>
      <xs:attribute name='keyManagerFactoryAlgorithm' type='xs:string'/>
      <xs:attribute name='keyPassword' type='xs:string'/>
      <xs:attribute name='keyStore' type='xs:string'/>
      <xs:attribute name='keyStorePassword' type='xs:string'/>
      <xs:attribute name='keyStoreType' type='xs:string'/>
      <xs:attribute name='managed' type='xs:boolean'/>
      <xs:attribute name='needClientAuth' type='xs:boolean'/>
      <xs:attribute name='protocol' type='xs:string'/>
      <xs:attribute name='provider' type='xs:string'/>
      <xs:attribute name='trustManagerFactoryAlgorithm' type='xs:string'/>
      <xs:attribute name='trustStore' type='xs:string'/>
      <xs:attribute name='trustStorePassword' type='xs:string'/>
      <xs:attribute name='trustStoreType' type='xs:string'/>
      <xs:attribute name='wantClientAuth' type='xs:boolean'/>
      <xs:attribute name='id' type='xs:ID'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


</xs:schema>
