servicemix/catalog/fuse/servicemix-jms-3.3.1.25-fuse.xsd

<?xml version='1.0'?>
<!-- NOTE: this file is autogenerated by Apache XBean -->

<xs:schema elementFormDefault='qualified'
           targetNamespace='http://servicemix.apache.org/jms/1.0'
           xmlns:xs='http://www.w3.org/2001/XMLSchema'
           xmlns:tns='http://servicemix.apache.org/jms/1.0'>

  <!-- element for type: org.apache.servicemix.jms.JmsComponent -->
  <xs:element name='component'>
    <xs:annotation>
      <xs:documentation><![CDATA[
        A jms component
      ]]></xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='authenticationService' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='configuration' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:choice minOccurs='0' maxOccurs='1'>
              <xs:element ref='tns:configuration'/>
              <xs:any namespace='##other'/>
            </xs:choice>
          </xs:complexType>
        </xs:element>
        <xs:element name='endpoints' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:choice minOccurs='0' maxOccurs='unbounded'>
              <xs:element ref='tns:consumer'/>
              <xs:element ref='tns:endpoint'/>
              <xs:element ref='tns:jca-consumer'/>
              <xs:element ref='tns:provider'/>
              <xs:element ref='tns:soap-consumer'/>
              <xs:element ref='tns:soap-provider'/>
              <xs:any namespace='##other'/>
            </xs:choice>
          </xs:complexType>
        </xs:element>
        <xs:element name='keystoreManager' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:any namespace='##other' minOccurs='0' maxOccurs='unbounded'/>
      </xs:sequence>
      <xs:attribute name='authenticationService' type='xs:string'/>
      <xs:attribute name='configuration' type='xs:string'/>
      <xs:attribute name='keystoreManager' type='xs:string'/>
      <xs:attribute name='id' type='xs:ID'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


  <!-- element for type: org.apache.servicemix.jms.JmsConfiguration -->
  <xs:element name='configuration'>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='authenticationService' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='connectionFactory' minOccurs='0' maxOccurs='1'>
          <xs:annotation>
            <xs:documentation><![CDATA[
              Default ConnectionFactory to use in a spring configuration.
            ]]></xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='keystoreManager' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:any namespace='##other' minOccurs='0' maxOccurs='unbounded'/>
      </xs:sequence>
      <xs:attribute name='authenticationService' type='xs:string'/>
      <xs:attribute name='authenticationServiceName' type='xs:string'/>
      <xs:attribute name='connectionFactory' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Default ConnectionFactory to use in a spring configuration.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='jndiConnectionFactoryName' type='xs:string'/>
      <xs:attribute name='jndiInitialContextFactory' type='xs:string'/>
      <xs:attribute name='jndiProviderUrl' type='xs:string'/>
      <xs:attribute name='keystoreManager' type='xs:string'/>
      <xs:attribute name='keystoreManagerName' type='xs:string'/>
      <xs:attribute name='password' type='xs:string'/>
      <xs:attribute name='processorName' type='xs:string'/>
      <xs:attribute name='userName' type='xs:string'/>
      <xs:attribute name='id' type='xs:ID'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


  <!-- element for type: org.apache.servicemix.jms.endpoints.JmsConsumerEndpoint -->
  <xs:element name='consumer'>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='component' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:choice minOccurs='0' maxOccurs='1'>
              <xs:element ref='tns:component'/>
              <xs:any namespace='##other'/>
            </xs:choice>
          </xs:complexType>
        </xs:element>
        <xs:element name='connectionFactory' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='definition' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='description' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='destination' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='destinationChooser' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='destinationResolver' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='exceptionListener' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='marshaler' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='replyDestination' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='replyProperties' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='unbounded'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='serverSessionFactory' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='serviceUnit' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='store' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='storeFactory' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='useMessageIdInResponse' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:any namespace='##other' minOccurs='0' maxOccurs='unbounded'/>
      </xs:sequence>
      <xs:attribute name='cacheLevel' type='xs:integer'/>
      <xs:attribute name='clientId' type='xs:string'/>
      <xs:attribute name='component' type='xs:string'/>
      <xs:attribute name='concurrentConsumers' type='xs:integer'/>
      <xs:attribute name='connectionFactory' type='xs:string'/>
      <xs:attribute name='definition' type='xs:string'/>
      <xs:attribute name='description' type='xs:string'/>
      <xs:attribute name='destination' type='xs:string'/>
      <xs:attribute name='destinationChooser' type='xs:string'/>
      <xs:attribute name='destinationName' type='xs:string'/>
      <xs:attribute name='destinationResolver' type='xs:string'/>
      <xs:attribute name='durableSubscriptionName' type='xs:string'/>
      <xs:attribute name='endpoint' type='xs:string'/>
      <xs:attribute name='exceptionListener' type='xs:string'/>
      <xs:attribute name='idleTaskExecutionLimit' type='xs:integer'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Specifies the limit for idle executions of a receive task, not having received any message within its execution.
If this limit is reached, the task will shut down and leave receiving to other executing tasks
(in case of dynamic scheduling; see the "maxConcurrentConsumers" setting).
Within each task execution, a number of message reception attempts (according to the "maxMessagesPerTask" setting)
will each wait for an incoming message (according to the "receiveTimeout" setting).
If all of those receive attempts in a given task return without a message,
the task is considered idle with respect to received messages.
Such a task may still be rescheduled; however, once it reached the specified "idleTaskExecutionLimit",
it will shut down (in case of dynamic scaling).
Raise this limit if you encounter too frequent scaling up and down.
With this limit being higher, an idle consumer will be kept around longer,
avoiding the restart of a consumer once a new load of messages comes in.
Alternatively, specify a higher "maxMessagePerTask" and/or "receiveTimeout" value,
which will also lead to idle consumers being kept around for a longer time
(while also increasing the average execution time of each scheduled task).

This property is only used for consumers whose <code>listenerType</code>
property is set to <code>default</code>.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='interfaceName' type='xs:QName'/>
      <xs:attribute name='jms102' type='xs:boolean'/>
      <xs:attribute name='listenerType' type='xs:string'/>
      <xs:attribute name='marshaler' type='xs:string'/>
      <xs:attribute name='maxConcurrentConsumers' type='xs:integer'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Specifies the maximum number of concurrent consumers created by the listener.
If this setting is higher than "concurrentConsumers", the listener container
will dynamically schedule new consumers at runtime, provided that enough incoming
messages are encountered. Once the load goes down again, the number of consumers
will be reduced to the standard level ("concurrentConsumers") again.
This property is only used for consumers whose <code>listenerType</code>
property is set to <code>default</code>.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='maxMessagesPerTask' type='xs:integer'/>
      <xs:attribute name='messageSelector' type='xs:string'/>
      <xs:attribute name='pubSubDomain' type='xs:boolean'/>
      <xs:attribute name='pubSubNoLocal' type='xs:boolean'/>
      <xs:attribute name='receiveTimeout' type='xs:long'/>
      <xs:attribute name='recoveryInterval' type='xs:long'/>
      <xs:attribute name='replyDeliveryMode' type='xs:integer'/>
      <xs:attribute name='replyDestination' type='xs:string'/>
      <xs:attribute name='replyDestinationName' type='xs:string'/>
      <xs:attribute name='replyExplicitQosEnabled' type='xs:boolean'/>
      <xs:attribute name='replyPriority' type='xs:integer'/>
      <xs:attribute name='replyProperties' type='xs:string'/>
      <xs:attribute name='replyTimeToLive' type='xs:long'/>
      <xs:attribute name='serverSessionFactory' type='xs:string'/>
      <xs:attribute name='service' type='xs:QName'/>
      <xs:attribute name='serviceUnit' type='xs:string'/>
      <xs:attribute name='sessionAcknowledgeMode' type='xs:integer'/>
      <xs:attribute name='stateless' type='xs:boolean'/>
      <xs:attribute name='store' type='xs:string'/>
      <xs:attribute name='storeFactory' type='xs:string'/>
      <xs:attribute name='subscriptionDurable' type='xs:boolean'/>
      <xs:attribute name='synchronous' type='xs:boolean'/>
      <xs:attribute name='targetEndpoint' type='xs:string'/>
      <xs:attribute name='targetInterface' type='xs:QName'/>
      <xs:attribute name='targetOperation' type='xs:QName'/>
      <xs:attribute name='targetService' type='xs:QName'/>
      <xs:attribute name='targetUri' type='xs:string'/>
      <xs:attribute name='transacted' type='xs:string'/>
      <xs:attribute name='useMessageIdInResponse' type='xs:string'/>
      <xs:attribute name='id' type='xs:ID'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


  <!-- element for type: org.apache.servicemix.jms.JmsEndpoint -->
  <xs:element name='endpoint'>
    <xs:annotation>
      <xs:documentation><![CDATA[
        A jms endpoint
      ]]></xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='activationSpec' minOccurs='0' maxOccurs='1'>
          <xs:annotation>
            <xs:documentation><![CDATA[
              The ActivatioSpec to use on this JCA consumer endpoint.
            ]]></xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='bootstrapContext' minOccurs='0' maxOccurs='1'>
          <xs:annotation>
            <xs:documentation><![CDATA[
              The BootstrapContext to use for a JCA consumer endpoint.
            ]]></xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='connectionFactory' minOccurs='0' maxOccurs='1'>
          <xs:annotation>
            <xs:documentation><![CDATA[
              A configured ConnectionFactory to use on this endpoint.
            ]]></xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='definition' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='description' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='destination' minOccurs='0' maxOccurs='1'>
          <xs:annotation>
            <xs:documentation><![CDATA[
              A configured Destination to use on this endpoint.
            ]]></xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='marshaler' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='policies' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='unbounded'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='resourceAdapter' minOccurs='0' maxOccurs='1'>
          <xs:annotation>
            <xs:documentation><![CDATA[
              The ResourceAdapter to use on this JCA consumer endpoint.
            ]]></xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='serviceUnit' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='store' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='storeFactory' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='wsdlResource' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:any namespace='##other' minOccurs='0' maxOccurs='unbounded'/>
      </xs:sequence>
      <xs:attribute name='activationSpec' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            The ActivatioSpec to use on this JCA consumer endpoint.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='bootstrapContext' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            The BootstrapContext to use for a JCA consumer endpoint.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='connectionFactory' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            A configured ConnectionFactory to use on this endpoint.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='defaultMep' type='xs:string'/>
      <xs:attribute name='defaultOperation' type='xs:QName'/>
      <xs:attribute name='definition' type='xs:string'/>
      <xs:attribute name='description' type='xs:string'/>
      <xs:attribute name='destination' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            A configured Destination to use on this endpoint.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='destinationStyle' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Used to select the destination type used with the jmsProviderDestinationName.
Can be <code>queue</code> or <code>topic</code>.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='endpoint' type='xs:string'/>
      <xs:attribute name='initialContextFactory' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            The class name of the JNDI InitialContextFactory to use.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='interfaceName' type='xs:QName'/>
      <xs:attribute name='jmsProviderDestinationName' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            The name of the destination create by a call to
<code>Session.createQueue</code> or <code>Session.createTopic</code>.
This property is used when <code>destination</code> and
<code>jndiDestinationName</code> are
both <code>null</code>.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='jmsProviderReplyToName' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            The name of the reply destination create by a call to
<code>Session.createQueue</code> or <code>Session.createTopic</code>.
This property is used when <code>jndiReplyToName</code> is
<code>null</code>. Optional: a temporary queue will be used
if a replyTo is not provided.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='jndiConnectionFactoryName' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            The name of the JMS ConnectionFactory to lookup in JNDI.
Used if <code>connectionFactory</code> is <code>null</code>
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='jndiDestinationName' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            The name of the JMS Destination to lookup in JNDI.
Used if <code>destination</code> is <code>null</code>.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='jndiProviderURL' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            The provider URL used to create the JNDI context.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='jndiReplyToName' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            The name of the JMS Reply-to destination to lookup in JNDI.
Optional: a temporary queue will be used
if a replyTo is not provided.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='marshaler' type='xs:string'/>
      <xs:attribute name='needJavaIdentifiers' type='xs:boolean'/>
      <xs:attribute name='processorName' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Specifies the processor family to use for this endpoint.
Can be:
<ul>
<li><code>multiplexing</code> (default)</li>
<li><code>standard</code></li>
<li><code>jca</code></li>
</ul>
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='resourceAdapter' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            The ResourceAdapter to use on this JCA consumer endpoint.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='role' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            The role of this endpoint.
Must be <code>consumer</code> or <code>provider</code>.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='roleAsString' type='xs:string'/>
      <xs:attribute name='rollbackOnError' type='xs:boolean'/>
      <xs:attribute name='service' type='xs:QName'/>
      <xs:attribute name='serviceUnit' type='xs:string'/>
      <xs:attribute name='soap' type='xs:boolean'/>
      <xs:attribute name='soapVersion' type='xs:string'/>
      <xs:attribute name='store' type='xs:string'/>
      <xs:attribute name='storeFactory' type='xs:string'/>
      <xs:attribute name='synchronous' type='xs:boolean'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            For a JCA consumer endpoint, indicates if the JBI exchange
should be sent synchronously or asynchronously.
This changes the transaction boundary.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='targetEndpoint' type='xs:string'/>
      <xs:attribute name='targetInterfaceName' type='xs:QName'/>
      <xs:attribute name='targetService' type='xs:QName'/>
      <xs:attribute name='useMsgIdInResponse' type='xs:boolean'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Determines whether for a request/response pattern, the message id of the request message
should be used as the correlation id in the response or the correlation id of the request.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='wsdlResource' type='xs:string'/>
      <xs:attribute name='id' type='xs:ID'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


  <!-- element for type: org.apache.servicemix.jms.endpoints.JmsJcaConsumerEndpoint -->
  <xs:element name='jca-consumer'>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='activationSpec' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='bootstrapContext' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='connectionFactory' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='definition' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='description' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='destinationChooser' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='destinationResolver' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='marshaler' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='replyDestination' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='replyProperties' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='unbounded'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='resourceAdapter' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='serviceUnit' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='store' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='storeFactory' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='useMessageIdInResponse' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:any namespace='##other' minOccurs='0' maxOccurs='unbounded'/>
      </xs:sequence>
      <xs:attribute name='activationSpec' type='xs:string'/>
      <xs:attribute name='bootstrapContext' type='xs:string'/>
      <xs:attribute name='connectionFactory' type='xs:string'/>
      <xs:attribute name='definition' type='xs:string'/>
      <xs:attribute name='description' type='xs:string'/>
      <xs:attribute name='destinationChooser' type='xs:string'/>
      <xs:attribute name='destinationResolver' type='xs:string'/>
      <xs:attribute name='endpoint' type='xs:string'/>
      <xs:attribute name='interfaceName' type='xs:QName'/>
      <xs:attribute name='jms102' type='xs:boolean'/>
      <xs:attribute name='marshaler' type='xs:string'/>
      <xs:attribute name='pubSubDomain' type='xs:boolean'/>
      <xs:attribute name='replyDeliveryMode' type='xs:integer'/>
      <xs:attribute name='replyDestination' type='xs:string'/>
      <xs:attribute name='replyDestinationName' type='xs:string'/>
      <xs:attribute name='replyExplicitQosEnabled' type='xs:boolean'/>
      <xs:attribute name='replyPriority' type='xs:integer'/>
      <xs:attribute name='replyProperties' type='xs:string'/>
      <xs:attribute name='replyTimeToLive' type='xs:long'/>
      <xs:attribute name='resourceAdapter' type='xs:string'/>
      <xs:attribute name='service' type='xs:QName'/>
      <xs:attribute name='serviceUnit' type='xs:string'/>
      <xs:attribute name='stateless' type='xs:boolean'/>
      <xs:attribute name='store' type='xs:string'/>
      <xs:attribute name='storeFactory' type='xs:string'/>
      <xs:attribute name='synchronous' type='xs:boolean'/>
      <xs:attribute name='targetEndpoint' type='xs:string'/>
      <xs:attribute name='targetInterface' type='xs:QName'/>
      <xs:attribute name='targetOperation' type='xs:QName'/>
      <xs:attribute name='targetService' type='xs:QName'/>
      <xs:attribute name='targetUri' type='xs:string'/>
      <xs:attribute name='useMessageIdInResponse' type='xs:string'/>
      <xs:attribute name='id' type='xs:ID'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


  <!-- element for type: org.apache.servicemix.jms.endpoints.JmsProviderEndpoint -->
  <xs:element name='provider'>
    <xs:annotation>
      <xs:documentation><![CDATA[
        A Spring-based JMS provider endpoint
      ]]></xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='connectionFactory' minOccurs='0' maxOccurs='1'>
          <xs:annotation>
            <xs:documentation><![CDATA[
              Specifies the <code>ConnectionFactory</code> used by the endpoint.
            ]]></xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='definition' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='description' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='destination' minOccurs='0' maxOccurs='1'>
          <xs:annotation>
            <xs:documentation><![CDATA[
              Specifies the JMS <code>Destination</code> used to send messages.
            ]]></xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='destinationChooser' minOccurs='0' maxOccurs='1'>
          <xs:annotation>
            <xs:documentation><![CDATA[
              Specifies a class implementing logic for choosing the destination used
to send messages.
            ]]></xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='destinationResolver' minOccurs='0' maxOccurs='1'>
          <xs:annotation>
            <xs:documentation><![CDATA[
              Specifies the class implementing logic for converting strings into
destinations. The default is <code>DynamicDestinationResolver</code>.
            ]]></xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='marshaler' minOccurs='0' maxOccurs='1'>
          <xs:annotation>
            <xs:documentation><![CDATA[
              Specifies the class implementing the message marshaler. The message
marshaller is responsible for marshalling and unmarshalling JMS messages.
The default is <code>DefaultProviderMarshaler</code>.
            ]]></xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='replyDestination' minOccurs='0' maxOccurs='1'>
          <xs:annotation>
            <xs:documentation><![CDATA[
              Sets the reply destination.
This JMS destination will be used as the default destination for the response
messages when using an InOut JBI exchange. It will be used if the
<code>replyDestinationChooser</code> does not return any value.
            ]]></xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='replyDestinationChooser' minOccurs='0' maxOccurs='1'>
          <xs:annotation>
            <xs:documentation><![CDATA[
              Specifies a class implementing logic for choosing the destination used
to recieve replies.
            ]]></xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='serviceUnit' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='store' minOccurs='0' maxOccurs='1'>
          <xs:annotation>
            <xs:documentation><![CDATA[
              Sets the store used to store JBI exchanges that are waiting for a response
JMS message. The store will be automatically created if not set.
            ]]></xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='storeFactory' minOccurs='0' maxOccurs='1'>
          <xs:annotation>
            <xs:documentation><![CDATA[
              Sets the store factory used to create the store.
If none is set, a {@link MemoryStoreFactory} will be created and used instead.
            ]]></xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:any namespace='##other' minOccurs='0' maxOccurs='unbounded'/>
      </xs:sequence>
      <xs:attribute name='connectionFactory' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Specifies the <code>ConnectionFactory</code> used by the endpoint.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='definition' type='xs:string'/>
      <xs:attribute name='deliveryMode' type='xs:integer'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Specifies the JMS delivery mode used for the reply. Defaults to
(2)(<code>PERSISTENT</code>).
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='description' type='xs:string'/>
      <xs:attribute name='destination' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Specifies the JMS <code>Destination</code> used to send messages.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='destinationChooser' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Specifies a class implementing logic for choosing the destination used
to send messages.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='destinationName' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Specifies a string identifying the JMS destination used to send
messages. The destination is resolved using the
<code>DesitinationResolver</code>.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='destinationResolver' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Specifies the class implementing logic for converting strings into
destinations. The default is <code>DynamicDestinationResolver</code>.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='endpoint' type='xs:string'/>
      <xs:attribute name='explicitQosEnabled' type='xs:boolean'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Specifies if the QoS values specified for the endpoint are explicitly
used when a messages is sent. The default is <code>false</code>.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='interfaceName' type='xs:QName'/>
      <xs:attribute name='jms102' type='xs:boolean'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Determines if the provider used JMS 1.0.2 compliant APIs.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='marshaler' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Specifies the class implementing the message marshaler. The message
marshaller is responsible for marshalling and unmarshalling JMS messages.
The default is <code>DefaultProviderMarshaler</code>.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='messageIdEnabled' type='xs:boolean'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Specifies if your endpoint requires JMS message IDs. Setting the
<code>messageIdEnabled</code> property to <code>false</code> causes the
endpoint to call its message producer's
<code>setDisableMessageID() </code> with a value of <code>true</code>.
The JMS broker is then given a hint that it does not need to generate
message IDs or add them to the messages from the endpoint. The JMS
broker can choose to accept the hint or ignore it.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='messageTimestampEnabled' type='xs:boolean'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Specifies if your endpoints requires time stamps on its messages.
Setting the <code>messageTimeStampEnabled</code> property to
<code>false</code> causes the endpoint to call its message producer's
<code>setDisableMessageTimestamp() </code> method with a value of
<code>true</code>. The JMS broker is then given a hint that it does not
need to generate message IDs or add them to the messages from the
endpoint. The JMS broker can choose to accept the hint or ignore it.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='priority' type='xs:integer'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Specifies the priority assigned to the JMS messages. Defaults to 4.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='pubSubDomain' type='xs:boolean'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Specifies if the destination is a topic. <code>true</code> means the
destination is a topic. <code>false</code> means the destination is a
queue.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='pubSubNoLocal' type='xs:boolean'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Specifies if messages published by the listener's <code>Connection</code>
are suppressed. The default is <code>false</code>.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='receiveTimeout' type='xs:long'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Specifies the timeout for receiving a message in milliseconds.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='replyDestination' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Sets the reply destination.
This JMS destination will be used as the default destination for the response
messages when using an InOut JBI exchange. It will be used if the
<code>replyDestinationChooser</code> does not return any value.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='replyDestinationChooser' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Specifies a class implementing logic for choosing the destination used
to recieve replies.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='replyDestinationName' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Sets the name of the reply destination.
This property will be used to create the <code>replyDestination</code>
using the <code>destinationResolver</code> when the endpoint starts if
the <code>replyDestination</code> has not been set.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='service' type='xs:QName'/>
      <xs:attribute name='serviceUnit' type='xs:string'/>
      <xs:attribute name='stateless' type='xs:boolean'/>
      <xs:attribute name='store' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Sets the store used to store JBI exchanges that are waiting for a response
JMS message. The store will be automatically created if not set.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='storeFactory' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Sets the store factory used to create the store.
If none is set, a {@link MemoryStoreFactory} will be created and used instead.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='timeToLive' type='xs:long'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Specifies the number of milliseconds a message is valid.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='id' type='xs:ID'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


  <!-- element for type: org.apache.servicemix.jms.endpoints.JmsSoapConsumerEndpoint -->
  <xs:element name='soap-consumer'>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='component' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:choice minOccurs='0' maxOccurs='1'>
              <xs:element ref='tns:component'/>
              <xs:any namespace='##other'/>
            </xs:choice>
          </xs:complexType>
        </xs:element>
        <xs:element name='connectionFactory' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='definition' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='description' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='destination' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='destinationChooser' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='destinationResolver' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='exceptionListener' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='marshaler' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='policies' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='unbounded'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='replyDestination' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='replyProperties' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='unbounded'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='serverSessionFactory' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='serviceUnit' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='store' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='storeFactory' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='useMessageIdInResponse' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='wsdl' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:any namespace='##other' minOccurs='0' maxOccurs='unbounded'/>
      </xs:sequence>
      <xs:attribute name='cacheLevel' type='xs:integer'/>
      <xs:attribute name='clientId' type='xs:string'/>
      <xs:attribute name='component' type='xs:string'/>
      <xs:attribute name='concurrentConsumers' type='xs:integer'/>
      <xs:attribute name='connectionFactory' type='xs:string'/>
      <xs:attribute name='definition' type='xs:string'/>
      <xs:attribute name='description' type='xs:string'/>
      <xs:attribute name='destination' type='xs:string'/>
      <xs:attribute name='destinationChooser' type='xs:string'/>
      <xs:attribute name='destinationName' type='xs:string'/>
      <xs:attribute name='destinationResolver' type='xs:string'/>
      <xs:attribute name='durableSubscriptionName' type='xs:string'/>
      <xs:attribute name='endpoint' type='xs:string'/>
      <xs:attribute name='exceptionListener' type='xs:string'/>
      <xs:attribute name='idleTaskExecutionLimit' type='xs:integer'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Specifies the limit for idle executions of a receive task, not having received any message within its execution.
If this limit is reached, the task will shut down and leave receiving to other executing tasks
(in case of dynamic scheduling; see the "maxConcurrentConsumers" setting).
Within each task execution, a number of message reception attempts (according to the "maxMessagesPerTask" setting)
will each wait for an incoming message (according to the "receiveTimeout" setting).
If all of those receive attempts in a given task return without a message,
the task is considered idle with respect to received messages.
Such a task may still be rescheduled; however, once it reached the specified "idleTaskExecutionLimit",
it will shut down (in case of dynamic scaling).
Raise this limit if you encounter too frequent scaling up and down.
With this limit being higher, an idle consumer will be kept around longer,
avoiding the restart of a consumer once a new load of messages comes in.
Alternatively, specify a higher "maxMessagePerTask" and/or "receiveTimeout" value,
which will also lead to idle consumers being kept around for a longer time
(while also increasing the average execution time of each scheduled task).

This property is only used for consumers whose <code>listenerType</code>
property is set to <code>default</code>.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='interfaceName' type='xs:QName'/>
      <xs:attribute name='jms102' type='xs:boolean'/>
      <xs:attribute name='listenerType' type='xs:string'/>
      <xs:attribute name='marshaler' type='xs:string'/>
      <xs:attribute name='maxConcurrentConsumers' type='xs:integer'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Specifies the maximum number of concurrent consumers created by the listener.
If this setting is higher than "concurrentConsumers", the listener container
will dynamically schedule new consumers at runtime, provided that enough incoming
messages are encountered. Once the load goes down again, the number of consumers
will be reduced to the standard level ("concurrentConsumers") again.
This property is only used for consumers whose <code>listenerType</code>
property is set to <code>default</code>.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='maxMessagesPerTask' type='xs:integer'/>
      <xs:attribute name='messageSelector' type='xs:string'/>
      <xs:attribute name='pubSubDomain' type='xs:boolean'/>
      <xs:attribute name='pubSubNoLocal' type='xs:boolean'/>
      <xs:attribute name='receiveTimeout' type='xs:long'/>
      <xs:attribute name='recoveryInterval' type='xs:long'/>
      <xs:attribute name='replyDeliveryMode' type='xs:integer'/>
      <xs:attribute name='replyDestination' type='xs:string'/>
      <xs:attribute name='replyDestinationName' type='xs:string'/>
      <xs:attribute name='replyExplicitQosEnabled' type='xs:boolean'/>
      <xs:attribute name='replyPriority' type='xs:integer'/>
      <xs:attribute name='replyProperties' type='xs:string'/>
      <xs:attribute name='replyTimeToLive' type='xs:long'/>
      <xs:attribute name='serverSessionFactory' type='xs:string'/>
      <xs:attribute name='service' type='xs:QName'/>
      <xs:attribute name='serviceUnit' type='xs:string'/>
      <xs:attribute name='sessionAcknowledgeMode' type='xs:integer'/>
      <xs:attribute name='stateless' type='xs:boolean'/>
      <xs:attribute name='store' type='xs:string'/>
      <xs:attribute name='storeFactory' type='xs:string'/>
      <xs:attribute name='subscriptionDurable' type='xs:boolean'/>
      <xs:attribute name='synchronous' type='xs:boolean'/>
      <xs:attribute name='targetEndpoint' type='xs:string'/>
      <xs:attribute name='targetInterface' type='xs:QName'/>
      <xs:attribute name='targetOperation' type='xs:QName'/>
      <xs:attribute name='targetService' type='xs:QName'/>
      <xs:attribute name='targetUri' type='xs:string'/>
      <xs:attribute name='transacted' type='xs:string'/>
      <xs:attribute name='useJbiWrapper' type='xs:boolean'/>
      <xs:attribute name='useMessageIdInResponse' type='xs:string'/>
      <xs:attribute name='validateWsdl' type='xs:boolean'/>
      <xs:attribute name='wsdl' type='xs:string'/>
      <xs:attribute name='id' type='xs:ID'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


  <!-- element for type: org.apache.servicemix.jms.endpoints.JmsSoapProviderEndpoint -->
  <xs:element name='soap-provider'>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='connectionFactory' minOccurs='0' maxOccurs='1'>
          <xs:annotation>
            <xs:documentation><![CDATA[
              Specifies the <code>ConnectionFactory</code> used by the endpoint.
            ]]></xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='definition' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='description' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='destination' minOccurs='0' maxOccurs='1'>
          <xs:annotation>
            <xs:documentation><![CDATA[
              Specifies the JMS <code>Destination</code> used to send messages.
            ]]></xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='destinationChooser' minOccurs='0' maxOccurs='1'>
          <xs:annotation>
            <xs:documentation><![CDATA[
              Specifies a class implementing logic for choosing the destination used
to send messages.
            ]]></xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='destinationResolver' minOccurs='0' maxOccurs='1'>
          <xs:annotation>
            <xs:documentation><![CDATA[
              Specifies the class implementing logic for converting strings into
destinations. The default is <code>DynamicDestinationResolver</code>.
            ]]></xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='marshaler' minOccurs='0' maxOccurs='1'>
          <xs:annotation>
            <xs:documentation><![CDATA[
              Specifies the class implementing the message marshaler. The message
marshaller is responsible for marshalling and unmarshalling JMS messages.
The default is <code>DefaultProviderMarshaler</code>.
            ]]></xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='policies' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='unbounded'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='replyDestination' minOccurs='0' maxOccurs='1'>
          <xs:annotation>
            <xs:documentation><![CDATA[
              Sets the reply destination.
This JMS destination will be used as the default destination for the response
messages when using an InOut JBI exchange. It will be used if the
<code>replyDestinationChooser</code> does not return any value.
            ]]></xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='replyDestinationChooser' minOccurs='0' maxOccurs='1'>
          <xs:annotation>
            <xs:documentation><![CDATA[
              Specifies a class implementing logic for choosing the destination used
to recieve replies.
            ]]></xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='serviceUnit' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='store' minOccurs='0' maxOccurs='1'>
          <xs:annotation>
            <xs:documentation><![CDATA[
              Sets the store used to store JBI exchanges that are waiting for a response
JMS message. The store will be automatically created if not set.
            ]]></xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='storeFactory' minOccurs='0' maxOccurs='1'>
          <xs:annotation>
            <xs:documentation><![CDATA[
              Sets the store factory used to create the store.
If none is set, a {@link MemoryStoreFactory} will be created and used instead.
            ]]></xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='wsdl' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:any namespace='##other' minOccurs='0' maxOccurs='unbounded'/>
      </xs:sequence>
      <xs:attribute name='connectionFactory' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Specifies the <code>ConnectionFactory</code> used by the endpoint.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='definition' type='xs:string'/>
      <xs:attribute name='deliveryMode' type='xs:integer'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Specifies the JMS delivery mode used for the reply. Defaults to
(2)(<code>PERSISTENT</code>).
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='description' type='xs:string'/>
      <xs:attribute name='destination' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Specifies the JMS <code>Destination</code> used to send messages.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='destinationChooser' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Specifies a class implementing logic for choosing the destination used
to send messages.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='destinationName' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Specifies a string identifying the JMS destination used to send
messages. The destination is resolved using the
<code>DesitinationResolver</code>.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='destinationResolver' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Specifies the class implementing logic for converting strings into
destinations. The default is <code>DynamicDestinationResolver</code>.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='endpoint' type='xs:string'/>
      <xs:attribute name='explicitQosEnabled' type='xs:boolean'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Specifies if the QoS values specified for the endpoint are explicitly
used when a messages is sent. The default is <code>false</code>.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='interfaceName' type='xs:QName'/>
      <xs:attribute name='jms102' type='xs:boolean'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Determines if the provider used JMS 1.0.2 compliant APIs.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='marshaler' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Specifies the class implementing the message marshaler. The message
marshaller is responsible for marshalling and unmarshalling JMS messages.
The default is <code>DefaultProviderMarshaler</code>.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='messageIdEnabled' type='xs:boolean'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Specifies if your endpoint requires JMS message IDs. Setting the
<code>messageIdEnabled</code> property to <code>false</code> causes the
endpoint to call its message producer's
<code>setDisableMessageID() </code> with a value of <code>true</code>.
The JMS broker is then given a hint that it does not need to generate
message IDs or add them to the messages from the endpoint. The JMS
broker can choose to accept the hint or ignore it.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='messageTimestampEnabled' type='xs:boolean'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Specifies if your endpoints requires time stamps on its messages.
Setting the <code>messageTimeStampEnabled</code> property to
<code>false</code> causes the endpoint to call its message producer's
<code>setDisableMessageTimestamp() </code> method with a value of
<code>true</code>. The JMS broker is then given a hint that it does not
need to generate message IDs or add them to the messages from the
endpoint. The JMS broker can choose to accept the hint or ignore it.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='priority' type='xs:integer'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Specifies the priority assigned to the JMS messages. Defaults to 4.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='pubSubDomain' type='xs:boolean'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Specifies if the destination is a topic. <code>true</code> means the
destination is a topic. <code>false</code> means the destination is a
queue.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='pubSubNoLocal' type='xs:boolean'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Specifies if messages published by the listener's <code>Connection</code>
are suppressed. The default is <code>false</code>.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='receiveTimeout' type='xs:long'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Specifies the timeout for receiving a message in milliseconds.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='replyDestination' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Sets the reply destination.
This JMS destination will be used as the default destination for the response
messages when using an InOut JBI exchange. It will be used if the
<code>replyDestinationChooser</code> does not return any value.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='replyDestinationChooser' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Specifies a class implementing logic for choosing the destination used
to recieve replies.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='replyDestinationName' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Sets the name of the reply destination.
This property will be used to create the <code>replyDestination</code>
using the <code>destinationResolver</code> when the endpoint starts if
the <code>replyDestination</code> has not been set.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='service' type='xs:QName'/>
      <xs:attribute name='serviceUnit' type='xs:string'/>
      <xs:attribute name='stateless' type='xs:boolean'/>
      <xs:attribute name='store' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Sets the store used to store JBI exchanges that are waiting for a response
JMS message. The store will be automatically created if not set.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='storeFactory' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Sets the store factory used to create the store.
If none is set, a {@link MemoryStoreFactory} will be created and used instead.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='timeToLive' type='xs:long'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Specifies the number of milliseconds a message is valid.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='useJbiWrapper' type='xs:boolean'/>
      <xs:attribute name='validateWsdl' type='xs:boolean'/>
      <xs:attribute name='wsdl' type='xs:string'/>
      <xs:attribute name='id' type='xs:ID'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


</xs:schema>
