servicemix/catalog/fuse/servicemix-saxon-fuse-3.1.0.2.xsd

<?xml version='1.0'?>
<!-- NOTE: this file is autogenerated by XBeans -->

<xs:schema elementFormDefault='qualified'
           targetNamespace='http://servicemix.apache.org/saxon/1.0'
           xmlns:xs='http://www.w3.org/2001/XMLSchema'
           xmlns:tns='http://servicemix.apache.org/saxon/1.0'>

  <!-- element for type: org.apache.servicemix.saxon.SaxonComponent -->
  <xs:element name='component'>
    <xs:annotation>
      <xs:documentation><![CDATA[
        XSLT component
      ]]></xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='endpoints' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:choice minOccurs='0' maxOccurs='unbounded'>
              <xs:element ref='tns:xquery'/>
              <xs:element ref='tns:xslt'/>
              <xs:any/>
            </xs:choice>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name='id' type='xs:ID'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


  <!-- element for type: org.apache.servicemix.saxon.XQueryEndpoint -->
  <xs:element name='xquery'>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='configuration' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='expression' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='outputProperties' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='parameters' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='sourceTransformer' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name='configuration' type='xs:string'/>
      <xs:attribute name='copyAttachments' type='xs:boolean'/>
      <xs:attribute name='copyProperties' type='xs:boolean'/>
      <xs:attribute name='copySubject' type='xs:boolean'/>
      <xs:attribute name='expression' type='xs:string'/>
      <xs:attribute name='outputProperties' type='xs:string'/>
      <xs:attribute name='parameters' type='xs:string'/>
      <xs:attribute name='query' type='xs:string'/>
      <xs:attribute name='resource' type='xs:string'/>
      <xs:attribute name='result' type='xs:string'/>
      <xs:attribute name='sourceTransformer' type='xs:string'/>
      <xs:attribute name='wsdlResource' type='xs:string'/>
      <xs:attribute name='id' type='xs:ID'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


  <!-- element for type: org.apache.servicemix.saxon.XsltEndpoint -->
  <xs:element name='xslt'>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='configuration' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='expression' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='parameters' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='sourceTransformer' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='transformerFactory' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name='configuration' type='xs:string'/>
      <xs:attribute name='copyAttachments' type='xs:boolean'/>
      <xs:attribute name='copyProperties' type='xs:boolean'/>
      <xs:attribute name='copySubject' type='xs:boolean'/>
      <xs:attribute name='expression' type='xs:string'/>
      <xs:attribute name='parameters' type='xs:string'/>
      <xs:attribute name='resource' type='xs:string'/>
      <xs:attribute name='result' type='xs:string'/>
      <xs:attribute name='sourceTransformer' type='xs:string'/>
      <xs:attribute name='transformerFactory' type='xs:string'/>
      <xs:attribute name='wsdlResource' type='xs:string'/>
      <xs:attribute name='id' type='xs:ID'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


</xs:schema>
