servicemix/catalog/fuse/servicemix-soap-fuse-3.1.0.0.xsd

<?xml version='1.0'?>
<!-- NOTE: this file is autogenerated by XBeans -->

<xs:schema elementFormDefault='qualified'
           targetNamespace='http://servicemix.apache.org/soap/1.0'
           xmlns:xs='http://www.w3.org/2001/XMLSchema'
           xmlns:tns='http://servicemix.apache.org/soap/1.0'>

  <!-- element for type: org.apache.servicemix.soap.handlers.dom.DomHandler -->
  <xs:element name='dom'>
    <xs:annotation>
      <xs:documentation><![CDATA[
        Simple handler which force the message to be transformed as a DOM document.
This can be useful when debugging or to detect a non-xml input
stream before sending a JBI exchange.
      ]]></xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name='required' type='xs:boolean'/>
      <xs:attribute name='id' type='xs:ID'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


  <!-- element for type: org.apache.servicemix.soap.handlers.addressing.AddressingHandler -->
  <xs:element name='ws-addressing'>
    <xs:complexType>
      <xs:attribute name='required' type='xs:boolean'/>
      <xs:attribute name='id' type='xs:ID'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


  <!-- element for type: org.apache.servicemix.soap.handlers.security.WSSecurityHandler -->
  <xs:element name='ws-security'>
    <xs:annotation>
      <xs:documentation><![CDATA[
        WS-Security handler.
This handler is heavily based on xfire-ws-security project.
      ]]></xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='authenticationService' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='crypto' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name='actor' type='xs:string'/>
      <xs:attribute name='authenticationService' type='xs:string'/>
      <xs:attribute name='crypto' type='xs:string'/>
      <xs:attribute name='domain' type='xs:string'/>
      <xs:attribute name='keystore' type='xs:string'/>
      <xs:attribute name='receiveAction' type='xs:string'/>
      <xs:attribute name='required' type='xs:boolean'/>
      <xs:attribute name='sendAction' type='xs:string'/>
      <xs:attribute name='username' type='xs:string'/>
      <xs:attribute name='id' type='xs:ID'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


</xs:schema>
