servicemix/catalog/fuse/servicemix-wsn2005-fuse-3.1.0.1.xsd

<?xml version='1.0'?>
<!-- NOTE: this file is autogenerated by XBeans -->

<xs:schema elementFormDefault='qualified'
           targetNamespace='http://servicemix.apache.org/wsn/1.0'
           xmlns:xs='http://www.w3.org/2001/XMLSchema'
           xmlns:tns='http://servicemix.apache.org/wsn/1.0'>

  <!-- element for type: org.apache.servicemix.wsn.spring.WSNSpringComponent -->
  <xs:element name='component'>
    <xs:annotation>
      <xs:documentation><![CDATA[
        An WS-Notification component
      ]]></xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='connectionFactory' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='requests' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='unbounded'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='resources' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='unbounded'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name='connectionFactory' type='xs:string'/>
      <xs:attribute name='id' type='xs:ID'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


  <!-- element for type: org.apache.servicemix.wsn.spring.CreatePullPointFactoryBean -->
  <xs:element name='create-pull-point'>
    <xs:complexType>
      <xs:attribute name='address' type='xs:string'/>
      <xs:attribute name='id' type='xs:ID'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


  <!-- element for type: org.apache.servicemix.wsn.spring.PublisherComponent -->
  <xs:element name='publisher'>
    <xs:complexType>
      <xs:attribute name='demand' type='xs:boolean'/>
      <xs:attribute name='topic' type='xs:string'/>
      <xs:attribute name='id' type='xs:ID'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


  <!-- element for type: org.apache.servicemix.wsn.spring.RegisterPublisherFactoryBean -->
  <xs:element name='register-publisher'>
    <xs:complexType>
      <xs:attribute name='demand' type='xs:boolean'/>
      <xs:attribute name='publisher' type='xs:string'/>
      <xs:attribute name='topic' type='xs:string'/>
      <xs:attribute name='id' type='xs:ID'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


  <!-- element for type: org.apache.servicemix.wsn.spring.SubscribeFactoryBean -->
  <xs:element name='subscribe'>
    <xs:complexType>
      <xs:attribute name='consumer' type='xs:string'/>
      <xs:attribute name='raw' type='xs:boolean'/>
      <xs:attribute name='topic' type='xs:string'/>
      <xs:attribute name='xpath' type='xs:string'/>
      <xs:attribute name='id' type='xs:ID'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


</xs:schema>
