servicemix/catalog/fuse/servicemix-audit-3.5.0-fuse-00-00.xsd

<?xml version='1.0'?>
<!-- NOTE: this file is autogenerated by Apache XBean -->

<xs:schema elementFormDefault='qualified'
           targetNamespace='http://servicemix.apache.org/audit/1.0'
           xmlns:xs='http://www.w3.org/2001/XMLSchema'
           xmlns:tns='http://servicemix.apache.org/audit/1.0'>

  <!-- element for type: org.apache.servicemix.jbi.audit.file.FileAuditor -->
  <xs:element name='fileAuditor'>
    <xs:annotation>
      <xs:documentation><![CDATA[
        The Auditor of message exchanges to a directory
      ]]></xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='container' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any minOccurs='0' maxOccurs='unbounded'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='propertyChangeListener' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any minOccurs='0' maxOccurs='unbounded'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:any namespace='##other' minOccurs='0' maxOccurs='unbounded'/>
      </xs:sequence>
      <xs:attribute name='asContainerListener' type='xs:boolean'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Test if Auditor should be included as a container listener
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='container' type='xs:string'/>
      <xs:attribute name='directory' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            The directory used for storing the audited messages
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='propertyChangeListener' type='xs:string'/>
      <xs:attribute name='id' type='xs:ID'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


  <!-- element for type: org.apache.servicemix.jbi.audit.jdbc.JdbcAuditor -->
  <xs:element name='jdbcAuditor'>
    <xs:annotation>
      <xs:documentation><![CDATA[
        The Auditor of message exchanges to a JDBC database
      ]]></xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='container' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any minOccurs='0' maxOccurs='unbounded'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='dataSource' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any minOccurs='0' maxOccurs='unbounded'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='propertyChangeListener' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any minOccurs='0' maxOccurs='unbounded'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:any namespace='##other' minOccurs='0' maxOccurs='unbounded'/>
      </xs:sequence>
      <xs:attribute name='asContainerListener' type='xs:boolean'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Test if Auditor should be included as a container listener
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='autoStart' type='xs:boolean'/>
      <xs:attribute name='container' type='xs:string'/>
      <xs:attribute name='dataSource' type='xs:string'/>
      <xs:attribute name='propertyChangeListener' type='xs:string'/>
      <xs:attribute name='id' type='xs:ID'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


</xs:schema>
