servicemix/catalog/fuse/servicemix-jms-fuse-3.1.0.2.xsd

<?xml version='1.0'?>
<!-- NOTE: this file is autogenerated by XBeans -->

<xs:schema elementFormDefault='qualified'
           targetNamespace='http://servicemix.apache.org/jms/1.0'
           xmlns:xs='http://www.w3.org/2001/XMLSchema'
           xmlns:tns='http://servicemix.apache.org/jms/1.0'>

  <!-- element for type: org.apache.servicemix.jms.JmsComponent -->
  <xs:element name='component'>
    <xs:annotation>
      <xs:documentation><![CDATA[
        A jms component
      ]]></xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='authenticationService' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='configuration' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='endpoints' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:choice minOccurs='0' maxOccurs='unbounded'>
              <xs:element ref='tns:endpoint'/>
              <xs:any/>
            </xs:choice>
          </xs:complexType>
        </xs:element>
        <xs:element name='keystoreManager' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name='authenticationService' type='xs:string'/>
      <xs:attribute name='configuration' type='xs:string'/>
      <xs:attribute name='keystoreManager' type='xs:string'/>
      <xs:attribute name='id' type='xs:ID'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


  <!-- element for type: org.apache.servicemix.jms.JmsEndpoint -->
  <xs:element name='endpoint'>
    <xs:annotation>
      <xs:documentation><![CDATA[
        A jms endpoint
      ]]></xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='activationSpec' minOccurs='0' maxOccurs='1'>
          <xs:annotation>
            <xs:documentation><![CDATA[
              The ActivatioSpec to use on this JCA consumer endpoint.
            ]]></xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='bootstrapContext' minOccurs='0' maxOccurs='1'>
          <xs:annotation>
            <xs:documentation><![CDATA[
              The BootstrapContext to use for a JCA consumer endpoint.
            ]]></xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='connectionFactory' minOccurs='0' maxOccurs='1'>
          <xs:annotation>
            <xs:documentation><![CDATA[
              A configured ConnectionFactory to use on this endpoint.
            ]]></xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='destination' minOccurs='0' maxOccurs='1'>
          <xs:annotation>
            <xs:documentation><![CDATA[
              A configured Destination to use on this endpoint.
            ]]></xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='resourceAdapter' minOccurs='0' maxOccurs='1'>
          <xs:annotation>
            <xs:documentation><![CDATA[
              The ResourceAdapter to use on this JCA consumer endpoint.
            ]]></xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name='activationSpec' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            The ActivatioSpec to use on this JCA consumer endpoint.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='bootstrapContext' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            The BootstrapContext to use for a JCA consumer endpoint.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='connectionFactory' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            A configured ConnectionFactory to use on this endpoint.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='destination' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            A configured Destination to use on this endpoint.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='destinationStyle' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Used to select the destination type used with the jmsProviderDestinationName.
Can be <code>queue</code> or <code>topic</code>.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='initialContextFactory' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            The class name of the JNDI InitialContextFactory to use.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='jmsProviderDestinationName' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            The name of the destination create by a call to
<code>Session.createQueue</code> or <code>Session.createTopic</code>.
This property is used when <code>destination</code> and
<code>jndiDestinationName</code> are
both <code>null</code>.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='jndiConnectionFactoryName' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            The name of the JMS ConnectionFactory to lookup in JNDI.
Used if <code>connectionFactory</code> is <code>null</code>
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='jndiDestinationName' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            The name of the JMS Destination to lookup in JNDI.
Used if <code>destination</code> is <code>null</code>.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='jndiProviderURL' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            The provider URL used to create the JNDI context.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='needJavaIdentifiers' type='xs:boolean'/>
      <xs:attribute name='processorName' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Specifies the processor family to use for this endpoint.
Can be:
<ul>
<li><code>multiplexing</code> (default)</li>
<li><code>standard</code></li>
<li><code>jca</code></li>
</ul>
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='resourceAdapter' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            The ResourceAdapter to use on this JCA consumer endpoint.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='role' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            The role of this endpoint.
Must be <code>consumer</code> or <code>provider</code>.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='rollbackOnError' type='xs:boolean'/>
      <xs:attribute name='synchronous' type='xs:boolean'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            For a JCA consumer endpoint, indicates if the JBI exchange
should be sent synchronously or asynchronously.
This changes the transaction boundary.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='useMsgIdInResponse' type='xs:boolean'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Determines whether for a request/response pattern, the message id of the request message
should be used as the correlation id in the response or the correlation id of the request.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='id' type='xs:ID'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


</xs:schema>
