servicemix/catalog/fuse/servicemix-drools-fuse-3.1.0.0.xsd

<?xml version='1.0'?>
<!-- NOTE: this file is autogenerated by XBeans -->

<xs:schema elementFormDefault='qualified'
           targetNamespace='http://servicemix.apache.org/drools/1.0'
           xmlns:xs='http://www.w3.org/2001/XMLSchema'
           xmlns:tns='http://servicemix.apache.org/drools/1.0'>

  <!-- element for type: org.apache.servicemix.drools.DroolsComponent -->
  <xs:element name='component'>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='endpoints' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:choice minOccurs='0' maxOccurs='unbounded'>
              <xs:element ref='tns:endpoint'/>
              <xs:any/>
            </xs:choice>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name='id' type='xs:ID'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


  <!-- element for type: org.apache.servicemix.drools.DroolsEndpoint -->
  <xs:element name='endpoint'>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='component' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:choice minOccurs='0' maxOccurs='1'>
              <xs:element ref='tns:component'/>
              <xs:any/>
            </xs:choice>
          </xs:complexType>
        </xs:element>
        <xs:element name='endpoint' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='ruleBase' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='ruleBaseURL' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='su' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name='component' type='xs:string'/>
      <xs:attribute name='endpoint' type='xs:string'/>
      <xs:attribute name='ruleBase' type='xs:string'/>
      <xs:attribute name='ruleBaseResource' type='xs:string'/>
      <xs:attribute name='ruleBaseURL' type='xs:string'/>
      <xs:attribute name='service' type='xs:QName'/>
      <xs:attribute name='su' type='xs:string'/>
      <xs:attribute name='id' type='xs:ID'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


</xs:schema>
