servicemix/catalog/fuse/servicemix-snmp-2009.01.0.4-fuse.xsd

<?xml version='1.0'?>
<!-- NOTE: this file is autogenerated by Apache XBean -->

<xs:schema elementFormDefault='qualified'
           targetNamespace='http://servicemix.apache.org/snmp/1.0'
           xmlns:xs='http://www.w3.org/2001/XMLSchema'
           xmlns:tns='http://servicemix.apache.org/snmp/1.0'>

  <!-- element for type: org.apache.servicemix.snmp.SnmpComponent -->
  <xs:element name='component'>
    <xs:annotation>
      <xs:documentation><![CDATA[
        SNMP Component
      ]]></xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='endpoints' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:choice minOccurs='0' maxOccurs='unbounded'>
              <xs:element ref='tns:poller'/>
              <xs:any namespace='##other'/>
            </xs:choice>
          </xs:complexType>
        </xs:element>
        <xs:element name='executor' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='executorFactory' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:any namespace='##other' minOccurs='0' maxOccurs='unbounded'/>
      </xs:sequence>
      <xs:attribute name='executor' type='xs:string'/>
      <xs:attribute name='executorFactory' type='xs:string'/>
      <xs:attribute name='id' type='xs:ID'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


  <!-- element for type: org.apache.servicemix.snmp.SnmpPollingEndpoint -->
  <xs:element name='poller'>
    <xs:annotation>
      <xs:documentation><![CDATA[
        This is the polling endpoint for the snmp component.
      ]]></xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='definition' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='description' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='marshaler' minOccurs='0' maxOccurs='1'>
          <xs:annotation>
            <xs:documentation><![CDATA[
              <p>Specifies a marshaler class which provides the logic for converting
a snmp response into a normalized message. This class has to implement
the <code>SnmpMarshalerSupport</code> interface. If you don't specify a
marshaler, the <code>DefaultSnmpMarshaler</code> will be used.</p>
            ]]></xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='oids' minOccurs='0' maxOccurs='1'>
          <xs:annotation>
            <xs:documentation><![CDATA[
              <p>Specifies a reference to a list of OID values which will be used for
the snmp request. You have two possibilities how to specify the value:
<br /><br />
&nbsp;<i>a) referencing to a file containing a list of OID values separated by a line feed
<br/>&nbsp;&nbsp;&nbsp;&nbsp;or<br/>
&nbsp;<i>b) defining a coma (<b>,</b>) separated list of OID values
<br /><br />
<b><u>Examples:</u></b><br />
&nbsp;&nbsp;&nbsp;<i>a) oids="classpath:myOids.txt"<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;oids="file:/home/lhein/snmp/device_a/oids.txt"<br/>
<br />
&nbsp;&nbsp;&nbsp;<i>b) oids="1.3.6.1.2.1.1.3.0 , 1.3.6.1.2.1.25.3.2.1.5.1 , 1.3.6.1.2.1.25.3.5.1.1.1 , 1.3.6.1.2.1.43.5.1.1.11.1"</i></p>
<i>&nbsp;&nbsp;&nbsp;The default value is <b>null</b></i><br/><br/>
            ]]></xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='unbounded'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='scheduler' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='serviceUnit' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:any namespace='##other' minOccurs='0' maxOccurs='unbounded'/>
      </xs:sequence>
      <xs:attribute name='address' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            <p>Specifies the connection URI used to connect to a snmp capable device.
<br /><br />
<b><u>Template:</u></b> <br />
&nbsp;&nbsp;&nbsp;<i>&lt;protocol&gt;:&lt;host&gt;/&lt;port&gt;</i>
<br /><br />
<b><u>Details:</u></b><br /><br/>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td width="40%" align="left"><b><u>Name</u></b></td>
<td width="60%" align="left"><b><u>Description</u></b></td>
</tr>
<tr>
<td>protocol</td>
<td>the protocol to use (udp or tcp)</td>
</tr>
<tr>
<td>host</td>
<td>the name or ip address of the snmp capable device</td>
</tr>
<tr>
<td>port</td>
<td>the port number to use</td>
</tr>
</table>
<br/>
<b><u>Example:</u></b><br />
&nbsp;&nbsp;&nbsp;<i>udp:192.168.2.122/161</i></p>
<i>&nbsp;&nbsp;&nbsp;The default value is <b>null</b></i><br/><br/>
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='concurrentPolling' type='xs:boolean'/>
      <xs:attribute name='definition' type='xs:string'/>
      <xs:attribute name='delay' type='xs:long'/>
      <xs:attribute name='description' type='xs:string'/>
      <xs:attribute name='endpoint' type='xs:string'/>
      <xs:attribute name='firstTime' type='xs:date'/>
      <xs:attribute name='interfaceName' type='xs:QName'/>
      <xs:attribute name='marshaler' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            <p>Specifies a marshaler class which provides the logic for converting
a snmp response into a normalized message. This class has to implement
the <code>SnmpMarshalerSupport</code> interface. If you don't specify a
marshaler, the <code>DefaultSnmpMarshaler</code> will be used.</p>
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='period' type='xs:long'/>
      <xs:attribute name='retries' type='xs:integer'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            <p>Specifies the connection retries.</p>
<i>&nbsp;&nbsp;&nbsp;The default value is <b>2</b></i><br/><br/>
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='scheduler' type='xs:string'/>
      <xs:attribute name='service' type='xs:QName'/>
      <xs:attribute name='serviceUnit' type='xs:string'/>
      <xs:attribute name='snmpCommunity' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            <p>Specifies the snmp community to use.</p>
<i>&nbsp;&nbsp;&nbsp;The default value is <b>"public"</b></i><br/><br/>
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='snmpVersion' type='xs:integer'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            <p>Specifies the snmp protocol version to use.</p>
<i>&nbsp;&nbsp;&nbsp;The default value is <b>0 (version 1)</b></i><br/><br/>
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='targetEndpoint' type='xs:string'/>
      <xs:attribute name='targetInterface' type='xs:QName'/>
      <xs:attribute name='targetOperation' type='xs:QName'/>
      <xs:attribute name='targetService' type='xs:QName'/>
      <xs:attribute name='targetUri' type='xs:string'/>
      <xs:attribute name='timeout' type='xs:integer'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            <p>Specifies the connection time out in milliseconds.</p>
<i>&nbsp;&nbsp;&nbsp;The default value is <b>1500</b></i><br/><br/>
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='id' type='xs:ID'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


</xs:schema>
